<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h2 th:text="${titlePage}"></h2>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <br />
                            <form th:object="${modelForm}" class="form-horizontal form-label-left" th:action="@{/menu/update-permission}" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" th:for="menu">
                                        Menu
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" th:field="*{menu}" class="form-control col-md-7 col-xs-12 menu-url" readonly />
                                        <div class="has-error">
                                            <span th:if="${#fields.hasErrors('menu')}" th:errors="*{menu}" class="help-block"></span>
                                        </div>
                                    </div>
                                    <a type="button" class="btn btn-primary" data-toggle="modal" href="#menuModal">
                                        Select
                                    </a>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" th:for="roleName">Role</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select th:field="*{roleName}" class="form-control">
                                            <option value="">------Select role------</option>
                                            <th:block th:each="role : ${mapRoles}">
                                                <option th:value="${role.key}" th:text="${role.value}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" style="display: flex;justify-content: end;">
                                        Permission
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12" style="display: flex;align-items: center;margin: 7px 0;">
                                        <div style="display: flex;align-items: center;margin-right: 10px;">
                                            <input
                                                    type="radio"
                                                    th:field="*{permission}"
                                                    value="1"
                                                    style="margin: 0;width: 18px;height: 18px;">
                                            <label style="margin: 0 6px">Enable</label>
                                        </div>
                                        <div style="display: flex;align-items: center;margin-right: 10px;">
                                            <input
                                                    type="radio"
                                                    th:field="*{permission}"
                                                    value="0"
                                                    style="margin: 0;width: 18px;height: 18px;">
                                            <label style="margin: 0 6px">Disable</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button class="btn btn-primary" type="button" th:onclick="cancel()">Cancel</button>
                                        <button th:if="${!viewOnly}" class="btn btn-primary" type="reset">Reset</button>
                                        <button th:if="${!viewOnly}" type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        $(document).ready(
                function() {
                    $('#userlistId').addClass('current-page').siblings()
                            .removeClass('current-page');
                    var parent = $('#userlistId').parents('li');
                    parent.addClass('active').siblings().removeClass('active');
                    $('#userlistId').parents().show();
                }
        );

        function cancel() {
            window.location.href = /*[[@{/user/list}]]*/ '';
        }
    </script>
</div>
</body>
</html>